<!-- <h1 style="color: blue;"> -->
<h1>
	{{titulo}}
</h1>
<strong>Empleado Estrella</strong>
<br/>
<hr/>
<br/>
<div *ngIf="trabajadorExterno == true">
	<button (click) = "cambiarExterno(false)" >Mostrar Trabajador</button>
	<ul>
		<li>{{trabajadores[1].nombre}}</li>
		<li>{{trabajadores[1].edad}}</li>
		<li>{{trabajadores[1].cargo}}</li>
		<li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
		<li *ngIf="trabajadores[1].contratado == false">No está contratado</li>
	</ul>
</div>
<div  *ngIf="trabajadorExterno == false">
	<button (click) = "cambiarExterno(true)">Mostrar Empleado</button>
	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf="empleado.contratado == true">Está contratado</li>
		<li *ngIf="empleado.contratado == false">No está contratado</li>
	</ul>
</div>
<br/>
<hr/>
<br/>
<h3>Listado de Trabajadores</h3>
<ul>
	<li *ngFor="let empleado of trabajadores; let i = index">
		Empleado {{i+1}}:
		<ul>
			<li>{{empleado.nombre}}</li>
			<li>{{empleado.edad}}</li>
			<li>{{empleado.cargo}}</li>
			<li *ngIf="empleado.contratado == true">Está contratado</li>
			<li *ngIf="empleado.contratado == false">No está contratado</li>
		</ul>
	</li>
</ul>
<br/>
<hr/>
<br/>
<h3>Colores Switch</h3>
<!-- El hecho que utilice corchetes significa que es una directiva con Binding, porque conecta con una propiedad-->
<ul [ngSwitch]="color">
	<!--Como es de tipo string debe ir tambien entre comillas simples-->
	<li *ngSwitchCase="'red'" [ngStyle]="{'background': color,'color': 'white', 'padding': '20px'}">Es de color Rojo</li>
	<li *ngSwitchCase="'green'" [ngStyle]="{'background': color,'color': 'white', 'padding': '20px'}">Es de color Verde</li>
	<li *ngSwitchCase="'blue'" [ngStyle]="{'background': color,'color': 'white', 'padding': '20px'}">Es de color Azul</li>
</ul>
<br/>
<hr/>
<br/>
<h3>Selector de colores:</h3>
<button (click)="logColorSeleccionado()">Mostrar Log</button>
<input type="text" [(ngModel)]="colorSeleccionado"/>
<!--[(ngModel)] es un twoWaydatabinding permite cambiar los valores en tiempo de ejecucion-->
<pre [style.border]="colorSeleccionado == 'red' ? '5px solid black' : '1px solid green'">
	<strong>Color elegido:</strong>
	{{colorSeleccionado}}
</pre>
<div [ngStyle]="{
	'background': colorSeleccionado,
	'width': '200px',
	'height': '200px',
	'float': 'right',
	'margin-right': '69%'
	}"></div>
<div style="clear:both"></div>