<!-- <h1 style="color: blue;"> -->
<h1>
	{{titulo}}
</h1>
<strong>Empleado Estrella</strong>
<br/>
<br/>
<div *ngIf="trabajadorExterno == true">
	<button (click) = "cambiarExterno(false)" >Mostrar Trabajador</button>
	<ul>
		<li>{{trabajadores[1].nombre}}</li>
		<li>{{trabajadores[1].edad}}</li>
		<li>{{trabajadores[1].cargo}}</li>
		<li *ngIf="trabajadores[1].contratado == true">Está contratado</li>
		<li *ngIf="trabajadores[1].contratado == false">No está contratado</li>
	</ul>
</div>
<div  *ngIf="trabajadorExterno == false">
	<button (click) = "cambiarExterno(true)">Mostrar Empleado</button>
	<ul>
		<li>{{empleado.nombre}}</li>
		<li>{{empleado.edad}}</li>
		<li>{{empleado.cargo}}</li>
		<li *ngIf="empleado.contratado == true">Está contratado</li>
		<li *ngIf="empleado.contratado == false">No está contratado</li>
	</ul>
</div>