<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido a {{title}}!
  </h1>
</div>
<!-- <fruta></fruta> -->
<!-- <empleado-tag></empleado-tag> -->
<hr>
<!--activado llama a la plantilla css-->
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
</nav>
<hr>

<router-outlet></router-outlet>

